<% cache [ Current.user, Current.identity_token ] do %>
  <% identity = Identity.find_signed(Current.identity_token.id) %>
  <% memberships = identity&.memberships %>
  <% if memberships.present? %>
    <h2>Your Fizzy Accounts</h2>
    <ul style="list-style-type: none;">
      <% memberships.each do |membership| %>
        <li>
          <%= link_to membership.account_name, root_url(script_name: "/#{membership.user_tenant}") %>: <%= membership.email_address %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You don't have any existing Fizzy accounts.</p>
  <% end %>
<% end %>
