x-app: &app
  image: "basecamp/fizzy:dev"
  user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"
  build:
    context: .
    dockerfile: Dockerfile.beamer-testbed
    secrets:
      - GITHUB_TOKEN
  volumes:
    - .:/rails
  extra_hosts:
    - queenbee.localhost:host-gateway
    - fizzy.localhost:host-gateway
  command: [ "./bin/beamer-testbed", "server" ]

x-base-environment: &base-environment
  RAILS_ENV: development
  BINDING: 0.0.0.0
  BEAMER: "true"
  BEAMER_TESTBED: "true"
  SECRET_KEY_BASE: beamer_testbed_shared_secret_key_base_for_development_only

services:
  kamal-proxy:
    image: basecamp/kamal-proxy:lb
    ports:
      - 127.0.0.1:3006:80
      - 127.0.0.1:443:443
    command: [ "kamal-proxy", "run", "--debug" ]

  fizzy-01:
    <<: *app
    hostname: fizzy-01
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: chi-01
      SOLID_QUEUE_IN_PUMA: 1 # TODO: we should run bin/jobs instead
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-01/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-01/tmp:/rails/tmp

  fizzy-02:
    <<: *app
    hostname: fizzy-02
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: chi-01
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-02/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-02/tmp:/rails/tmp

  fizzy-101:
    <<: *app
    hostname: fizzy-101
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: iad-01
      SOLID_QUEUE_IN_PUMA: 1
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-101/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-101/tmp:/rails/tmp

  fizzy-102:
    <<: *app
    hostname: fizzy-102
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: iad-01
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-102/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-102/tmp:/rails/tmp

  fizzy-401:
    <<: *app
    hostname: fizzy-401
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: ams-01
      SOLID_QUEUE_IN_PUMA: 1
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-401/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-401/tmp:/rails/tmp

  fizzy-402:
    <<: *app
    hostname: fizzy-402
    environment:
      <<: *base-environment
      SOLID_QUEUE_ZONE: ams-01
    volumes:
      - .:/rails
      - ./tmp/beamer-testbed/fizzy-402/storage:/rails/storage
      - ./tmp/beamer-testbed/fizzy-402/tmp:/rails/tmp

secrets:
  GITHUB_TOKEN:
    environment: GITHUB_TOKEN
