<%= render "cards/display/common/meta", card: card do %>
  <%= render "cards/display/perma/assignees", card: card %>
<% end %>

<div class="card__reactions">
  <%= render "reactions/reactions", reactable: card %>
</div>
