<section id="closed-cards" class="cards cards--on-deck is-collapsed" style="--card-color: var(--color-card-complete);"
  tabindex="0"
  data-controller="navigable-list"
  data-drag-and-drop-target="container"
  data-drag-and-strum-target="container"
  data-collapsible-columns-target="column"
  data-column-name="Done"
  data-navigable-list-actionable-items-value="true"
  data-navigable-list-left-right-navigation-value="false"
  data-navigable-list-focus-on-selection-value="true"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle keydown@document->navigable-list#navigate"
  data-drag-and-drop-url="<%= columns_card_drops_closure_path("__id__") %>"
>
  <div class="cards__transition-container">
    <header class="cards__header">
      <%= render "boards/show/expander", title: "Done", count: board.cards.closed.count, column_id: "closed-cards" %>
      <%= render "boards/show/menu/maximize", column_path: board_columns_closed_path(board) %>
    </header>
    <%= column_frame_tag :closed_column, src: board_columns_closed_path(board) %>
  </div>
</section>
