<section id="considering-bubbles" class="cards" style="align-items: center; border-inline-end: 1px solid var(--color-subtle);">
  <h2 class="txt-align-center flex-inline center txt-uppercase txt-medium margin-none-block-start margin-block-end">
    Considering
  </h2>

  <% if page.used? %>
    <%= render partial: "bubbles/cards/mini", collection: page.records, as: :bubble, cached: true %>

    <% unless page.last? %>
      <%= bubbles_next_page_link "considering-bubbles", page: page, filter: filter %>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
