<div class="margin-block">
  <h2 class="txt-align-center flex-inline center txt-uppercase txt-medium margin-none">
    Recently closed
  </h2>

  <section class="cards--grid">
    <% if page.used? %>
      <%= render partial: "bubbles/cards/preview", collection: page.records, as: :bubble, cached: true %>
    <% else %>
      <p class="txt-medium translucent">Nothing here</p>
    <% end %>
  </section>
</div>
